[submodule "Native Product Details Page/Frameworks/API-Product-SwiftWrapper"]
	path = Native Product Details Page/Frameworks/API-Product-SwiftWrapper
	url = git@github.com:DigitalInnovation/API-Product-SwiftWrapper.git
